@using Poker.Shared.Models.PokerModels 

<div class="player-container noselect" style="@GetActiveStyle()">
    <div class="player-image" style="background-image: url('./assets/default.png')"></div>
    <div class="player-description">
        <div class="player-name" style="@GetSelfStyle()">
            @Player?.Username
        </div>
        <div class="player-balance">
            @Player?.Balance
        </div>
    </div>
</div>

@code {
    [Parameter]
    public PokerUser Player { get; set; }

    [Parameter]
    public bool IsActive { get; set; }

    [Parameter]
    public bool IsWinner { get; set; }

    [Parameter]
    public bool IsSelf { get; set; }

    public string GetActiveStyle()
    {
        if (IsActive)
        {
            return "background-color: yellow; box-shadow:0 0 8px 8px yellow;";
        }

        if (IsWinner)
        {
            return "background-color: red; box-shadow:0 0 8px 8px red;";
        }

        return string.Empty;
    }

    public string GetSelfStyle()
    {
        return IsSelf ? "background-color: black; color: white; border-color: white;" : "";
    }
}
