<div class="poker-table noselect">
    <div class="poker-table-header poker-table-text">@Table.Name</div>
    <div class="poker-table-text">@Table.MaxNumber/@Table.PlayerNumber</div>
</div>

@code {
    [Parameter]
    public Poker.Shared.Models.ViewModels.TableViewModel Table { get; set; }

}
